body {
  display: center;
  align-content: center;
  text-align: center;
}

.links {
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center; /* Alinea el texto al centro */
  transition: transform 0.3s ease; /* Transición suave */
}

.links:hover .image-size {
  transform: translateX(-10%); /* Ajusta el desplazamiento al pasar el mouse */
}

.image-size {
  width: 300px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Hace que la imagen se comporte como bloque para centrarla */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.figure {
  margin: 0;
  position: center;
}

.figcaption {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
